---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AWS_ACCESS_KEY_ID&AssociateTag=AWS_ASSOCIATE_TAG&ItemId=B06WP5P93V&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews&Service=AWSECommerceService&Signature=koiFE3QAyJItbv9hr2iB3jTplBUZnYYigCEpVojhAqU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-09-11T10:15:11Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.2 (Language=Ruby; Fatos-MacBook.local)"></Header></HTTPHeaders><RequestId>864ea7c3-f252-4a03-bb4a-24e85516dab2</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AWS_ACCESS_KEY_ID"></Argument><Argument Name="AssociateTag"
        Value="AWS_ASSOCIATE_TAG"></Argument><Argument Name="ItemId" Value="B06WP5P93V"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="ItemAttributes,Images,Reviews"></Argument><Argument Name="Service"
        Value="AWSECommerceService"></Argument><Argument Name="SignatureMethod" Value="HmacSHA256"></Argument><Argument
        Name="SignatureVersion" Value="2"></Argument><Argument Name="Timestamp" Value="2017-09-11T10:15:11Z"></Argument><Argument
        Name="Version" Value="2013-08-01"></Argument><Argument Name="Signature" Value="koiFE3QAyJItbv9hr2iB3jTplBUZnYYigCEpVojhAqU="></Argument></Arguments><RequestProcessingTime>0.0178339120000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B06WP5P93V</ItemId><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Reviews</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B06WP5P93V</ASIN><ParentASIN>B06VVPRHZ8</ParentASIN><DetailPageURL>https://www.amazon.com/PowerNet-SweetSpot-Training-Baseball-Softball/dp/B06WP5P93V?psc=1&amp;SubscriptionId=AWS_ACCESS_KEY_ID&amp;tag=AWS_ASSOCIATE_TAG&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B06WP5P93V</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>https://www.amazon.com/PowerNet-SweetSpot-Training-Baseball-Softball/dp/tech-data/B06WP5P93V?SubscriptionId=AWS_ACCESS_KEY_ID&amp;tag=AWS_ASSOCIATE_TAG&amp;linkCode=xm2&amp;camp=2025&amp;creative=386001&amp;creativeASIN=B06WP5P93V</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>https://www.amazon.com/gp/registry/baby/add-item.html?asin.0=B06WP5P93V&amp;SubscriptionId=AWS_ACCESS_KEY_ID&amp;tag=AWS_ASSOCIATE_TAG&amp;linkCode=xm2&amp;camp=2025&amp;creative=3860[...]
- request:
    method: get
    uri: https://www.amazon.com/reviews/iframe?akid=AWS_ACCESS_KEY_ID&alinkCode=xm2&asin=B06WP5P93V&atag=AWS_ASSOCIATE_TAG&exp=2017-09-12T10:15:12Z&sig=OCWloWnN%252FQrm6qmEjGbLQ%252FwScFAH3tCo72%2B8druTkcM%253D&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html
      Last-Modified:
      - Fri, 18 Aug 2017 23:14:14 GMT
      Etag:
      - '"9de-5570f49923d80-gzip"'
    body:
      encoding: ASCII-8BIT
      string: |
        <!--
                To discuss automated access to Amazon data please contact api-services-support@amazon.com.
                For information about migrating to our APIs refer to our Marketplace APIs at https://developer.amazonservices.com/ref=rm_5_sv, or our Product Advertising API at https://affiliate-program.amazon.com/gp/advertising/api/detail/main.html/ref=rm_5_ac for advertising use cases.
        -->

        <!doctype html>
        <html>
        <head>
          <meta charset="utf-8">
          <meta http-equiv="x-ua-compatible" content="ie=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          <title>503 Service Unavailable Error</title>
          <style>html, body {
            padding: 0;
            margin: 0
          }

          img {
            border: 0
          }

          #a {
            background: #232f3e;
            padding: 11px 11px 11px 192px
          }

          #b {
            position: absolute;
            left: 22px;
            top: 12px
          }

          #c {
            position: relative;
            max-width: 800px;
            padding: 0 40px 0 0
          }

          #e, #f {
            height: 35px;
            border: 0;
            font-size: 1em
          }

          #e {
            width: 100%;
            margin: 0;
            padding: 0 10px;
            border-radius: 4px 0 0 4px
          }

          #f {
            cursor: pointer;
            background: #febd69;
            font-weight: bold;
            border-radius: 0 4px 4px 0;
            -webkit-appearance: none;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 12px
          }

          @media (max-width: 500px) {
            #a {
              padding: 55px 10px 10px
            }

            #b {
              left: 6px
            }
          }

          #g {
            text-align: center;
            margin: 30px 0
          }

          #g img {
            max-width: 90%
          }

          #d {
            display: none
          }

          #d[src] {
            display: inline
          }</style>
        </head>
        <body><a href="/"><img id="b" src="https://images-na.ssl-images-amazon.com/images/G/01/error/logo._TTD_.png"
                               alt="Amazon.com"></a>
        <form id="a" accept-charset="utf-8" action="/s" method="GET" role="search">
          <div id="c"><input id="e" name="field-keywords" placeholder="Search"><input id="f" type="submit" value="Go"></div>
        </form>
        <div id="g">
          <div><a href="/"><img src="https://images-na.ssl-images-amazon.com/images/G/01/error/500_503.png"
                                                alt="Sorry! Something went wrong on our end. Please go back and try again or go to Amazon's home page."></a>
          </div>
          <a href="/dogsofamazon" target="_blank" rel="noopener noreferrer"><img id="d" alt="Dogs of Amazon"></a>
          <script>document.getElementById("d").src = "https://images-na.ssl-images-amazon.com/images/G/01/error/" + (Math.floor(Math.random() * 43) + 1) + "._TTD_.jpg";</script>
        </div>
        </body>
        </html>
  recorded_at: Mon, 11 Sep 2017 10:15:13 GMT
- request:
    method: get
    uri: https://www.amazon.com/reviews/iframe?akid=AWS_ACCESS_KEY_ID&alinkCode=xm2&asin=B06WP5P93V&atag=AWS_ASSOCIATE_TAG&exp=2017-09-12T10:15:12Z&sig=OCWloWnN%252FQrm6qmEjGbLQ%252FwScFAH3tCo72%2B8druTkcM%253D&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html>
        <!--[if lt IE 7]> <html lang="en-us" class="a-no-js a-lt-ie9 a-lt-ie8 a-lt-ie7"> <![endif]-->
        <!--[if IE 7]>    <html lang="en-us" class="a-no-js a-lt-ie9 a-lt-ie8"> <![endif]-->
        <!--[if IE 8]>    <html lang="en-us" class="a-no-js a-lt-ie9"> <![endif]-->
        <!--[if gt IE 8]><!-->
        <html class="a-no-js" lang="en-us"><!--<![endif]--><head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title dir="ltr">Robot Check</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUI-3c913031596ca78a3768f4e934b1cc02ce238101.secure.min._V1_.css">
        <script>

        if (true === true) {
            var ue_t0 = (+ new Date()),
                ue_csm = window,
                ue = { t0: ue_t0, d: function() { return (+new Date() - ue_t0); } },
                ue_furl = "fls-na.amazon.com",
                ue_mid = "ATVPDKIKX0DER",
                ue_sid = (document.cookie.match([...]
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AWS_ACCESS_KEY_ID&AssociateTag=AWS_ASSOCIATE_TAG&ItemId=B06VVPRHZ8&Operation=ItemLookup&ResponseGroup=SalesRank&Service=AWSECommerceService&Signature=gkOhmQ7rKeuSzHH1PeLGPfgarCYEvCY2TF/DT/WmlfI=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-09-11T10:15:16Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AWS_ACCESS_KEY_ID&AssociateTag=AWS_ASSOCIATE_TAG&HMAC=u3C7d9uIZk48xa7Sla7m6Q==&Item.1.ASIN=B06WP5P93V&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=jpCRf3%2Bm0dnJRQnfMVU1I4XZAvsDYeKfXmMWiZ6%2BgPM=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-09-11T10:15:17Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" ?><CartCreateResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.2 (Language=Ruby; Fatos-MacBook.local)"/></HTTPHeaders><RequestId>5bafd76b-655a-4ead-93c4-7231a89853c4</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AWS_ACCESS_KEY_ID"/><Argument Name="AssociateTag"
        Value="AWS_ASSOCIATE_TAG"/><Argument Name="HMAC" Value="u3C7d9uIZk48xa7Sla7m6Q=="/><Argument
        Name="Item.1.ASIN" Value="B06WP5P93V"/><Argument Name="Item.1.Quantity" Value="999"/><Argument
        Name="Operation" Value="CartCreate"/><Argument Name="Service" Value="AWSECommerceService"/><Argument
        Name="SignatureMethod" Value="HmacSHA256"/><Argument Name="SignatureVersion"
        Value="2"/><Argument Name="Timestamp" Value="2017-09-11T10:15:17Z"/><Argument
        Name="Version" Value="2013-08-01"/><Argument Name="Signature" Value="jpCRf3+m0dnJRQnfMVU1I4XZAvsDYeKfXmMWiZ6+gPM="/></Arguments><RequestProcessingTime>0.11415409</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartCreateRequest><Items><Item><ASIN>B06WP5P93V</ASIN><Quantity>999</Quantity></Item></Items></CartCreateRequest><Errors><Error><Code>AWS.ECommerceService.InvalidQuantity</Code><Message>You
        have exceeded the maximum quantity allowed for the following items: B06WP5P93V.</Message></Error></Errors></Request><CartId>131-4677093-1896223</CartId><HMAC>q9igKqiRJZKaTQF1YA5z6LjaaZ0=</HMAC><URLEncodedHMAC>q9igKqiRJZKaTQF1YA5z6LjaaZ0%3D</URLEncodedHMAC><PurchaseURL>https://www.amazon.com/gp/cart/aws-merge.html?cart-id=131-4677093-1896223&amp;associate-id=AWS_ASSOCIATE_TAG&amp;hmac=q9igKqiRJZKaTQF1YA5z6LjaaZ0%3D&amp;SubscriptionId=AWS_ACCESS_KEY_ID&amp;MergeCart=False</PurchaseURL><SubTotal><Amount>401933</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$4,019.33</FormattedPrice></SubTotal><CartItems><SubTotal><Amount>401933</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$4,019.33</FormattedPrice></SubTotal><CartItem><CartItemId>CUFGNDEZ63RUE</CartItemId><ASIN>B06WP5P93V</ASIN><SellerNickname>Baseball
        Training Nets</SellerNickname><Quantity>67</Quantity><Title>PowerNet 27" SweetSpot
        Training Bat for Baseball Softball</Title><ProductGroup>Sports</ProductGroup><Price><Amount>5999</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$59.99</FormattedPrice></Price><ItemTotal><Amount>401933</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$4,019.33</FormattedPrice></ItemTotal></CartItem></CartItems></Cart></CartCreateResponse>'
  recorded_at: Mon, 11 Sep 2017 10:15:17 GMT
recorded_with: VCR 3.0.3
