---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AWS_ACCESS_KEY_ID&AssociateTag=AWS_ASSOCIATE_TAG&ItemId=B06WP5P93V&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews&Service=AWSECommerceService&Signature=S/XJw%2BfhGGsoeDFBNVYoxmkIdXtTTSzXMut3DNxg/OU=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-09-11T10:22:59Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.2 (Language=Ruby; Fatos-MacBook.local)"></Header></HTTPHeaders><RequestId>c56c63bf-072c-45ed-97fd-66f057427a03</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AWS_ACCESS_KEY_ID"></Argument><Argument Name="AssociateTag"
        Value="AWS_ASSOCIATE_TAG"></Argument><Argument Name="ItemId" Value="B06WP5P93V"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="ItemAttributes,Images,Reviews"></Argument><Argument Name="Service"
        Value="AWSECommerceService"></Argument><Argument Name="SignatureMethod" Value="HmacSHA256"></Argument><Argument
        Name="SignatureVersion" Value="2"></Argument><Argument Name="Timestamp" Value="2017-09-11T10:22:59Z"></Argument><Argument
        Name="Version" Value="2013-08-01"></Argument><Argument Name="Signature" Value="S/XJw+fhGGsoeDFBNVYoxmkIdXtTTSzXMut3DNxg/OU="></Argument></Arguments><RequestProcessingTime>0.0180349260000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B06WP5P93V</ItemId><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Reviews</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B06WP5P93V</ASIN><ParentASIN>B06VVPRHZ8</ParentASIN><DetailPageURL>https://www.amazon.com/PowerNet-SweetSpot-Training-Baseball-Softball/dp/B06WP5P93V?psc=1&amp;SubscriptionId=AWS_ACCESS_KEY_ID&amp;tag=AWS_ASSOCIATE_TAG&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B06WP5P93V</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>https://www.amazon.com/PowerNet-SweetSpot-Training-Baseball-Softball/dp/tech-data/B06WP5P93V?SubscriptionId=AWS_ACCESS_KEY_ID&amp;tag=AWS_ASSOCIATE_TAG&amp;linkCode=xm2&amp;camp=2025&amp;creative=386001&amp;creativeASIN=B06WP5P93V</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>https://www.amazon.com/gp/registry/baby/add-item.html?asin.0=B06WP5P93V&amp;SubscriptionId=AWS_ACCESS_KEY_ID&amp;tag=AWS_ASSOCIATE_TAG&amp;linkCode=xm2&amp;camp=2025&amp;creative=3860[...]
- request:
    method: get
    uri: https://www.amazon.com/reviews/iframe?akid=AWS_ACCESS_KEY_ID&alinkCode=xm2&asin=B06WP5P93V&atag=AWS_ASSOCIATE_TAG&exp=2017-09-12T10:22:59Z&sig=%252FqsUYegVSbRNZhMET9R%2BdtjGRvndWm23ot%2BiC9qeL6U%253D&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: |
        <!DOCTYPE html>
        <!--[if lt IE 7]> <html lang="en-us" class="a-no-js a-lt-ie9 a-lt-ie8 a-lt-ie7"> <![endif]-->
        <!--[if IE 7]>    <html lang="en-us" class="a-no-js a-lt-ie9 a-lt-ie8"> <![endif]-->
        <!--[if IE 8]>    <html lang="en-us" class="a-no-js a-lt-ie9"> <![endif]-->
        <!--[if gt IE 8]><!-->
        <html class="a-no-js" lang="en-us"><!--<![endif]--><head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title dir="ltr">Robot Check</title>
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="https://images-na.ssl-images-amazon.com/images/G/01/AUIClients/AmazonUI-3c913031596ca78a3768f4e934b1cc02ce238101.secure.min._V1_.css">
        <script>

        if (true === true) {
            var ue_t0 = (+ new Date()),
                ue_csm = window,
                ue = { t0: ue_t0, d: function() { return (+new Date() - ue_t0); } },
                ue_furl = "fls-na.amazon.com",
                ue_mid = "ATVPDKIKX0DER",
                ue_sid = (document.cookie.match(/session-id=([0-9-]+)/) || [])[1],
                ue_sn = "opfcaptcha.amazon.com",
                ue_id = 'Z6DSMYKNYPKEM5XYYEJH';
        }
        </script>
        </head>
        <body>

        <!--
                To discuss automated access to Amazon data please contact api-services-support@amazon.com.
                For information about migrating to our APIs refer to our Marketplace APIs at https://developer.amazonservices.com/ref=rm_c_sv, or our Product Advertising API at https://affiliate-program.amazon.com/gp/advertising/api/detail/main.html/ref=rm_c_ac for advertising use cases.
        -->

        <!--
        Correios.DoNotSend
        -->

        <div class="a-container a-padding-double-large" style="min-width:350px;padding:44px 0 !important">

            <div class="a-row a-spacing-double-large" style="width: 350px; margin: 0 auto">

                <div class="a-row a-spacing-medium a-text-center"><i class="a-icon a-logo"></i></div>

                <div class="a-box a-alert a-alert-info a-spacing-base">
                    <div class="a-box-inner">
                        <i class="a-icon a-icon-alert"></i>
                        <h4>Enter the characters you see below</h4>
                        <p class="a-last">Sorry, we just need to make sure you're not a robot. For best results, please make sure your browser is accepting cookies.</p>
                        </div>
                    </div>

                    <div class="a-section">

                        <div class="a-box a-color-offset-background">
                            <div class="a-box-inner a-padding-extra-large">

                                <form method="get" action="/errors/validateCaptcha" name="">
                                    <input type=hidden name="amzn" value="GhY2MaOpeC/iJEjVz0Ry0w==" /><input type=hidden name="amzn-r" value="&#047;reviews&#047;iframe?akid&#061;AWS_ACCESS_KEY_ID&amp;alinkCode&#061;xm2&amp;asin&#061;B06WP5P93V&amp;atag&#061;AWS_ASSOCIATE_TAG&amp;exp&#061;2017&#045;09&#045;12T10&#037;3A22&#037;3A59Z&amp;v&#061;2&amp;sig&#061;&#037;252FqsUYegVSbRNZhMET9R&#037;252BdtjGRvndWm23ot&#037;252BiC9qeL6U&#037;253D" />
                                    <div class="a-row a-spacing-large">
                                        <div class="a-box">
                                            <div class="a-box-inner">
                                                <h4>Type the characters you see in this image:</h4>
                                                <div class="a-row a-text-center">
                                                    <img src="https://images-na.ssl-images-amazon.com/captcha/sgkknrsj/Captcha_ozrbnxttxo.jpg">
                                                </div>
                                                <div class="a-row a-spacing-base">
                                                    <div class="a-row">
                                                        <div class="a-column a-span6">
                                                        </div>
                                                        <div class="a-column a-span6 a-span-last a-text-right">
                                                            <a onclick="window.location.reload()">Try different image</a>
                                                        </div>
                                                    </div>
                                                    <input autocomplete="off" spellcheck="false" placeholder="Type characters" id="captchacharacters" name="field-keywords" class="a-span12" autocapitalize="off" autocorrect="off" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="a-section a-spacing-extra-large">

                                        <div class="a-row">
                                            <span class="a-button a-button-primary a-span12">
                                                <span class="a-button-inner">
                                                    <button type="submit" class="a-button-text">Continue shopping</button>
                                                </span>
                                            </span>
                                        </div>

                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>

                </div>

                <div class="a-divider a-divider-section"><div class="a-divider[...]
[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AWS_ACCESS_KEY_ID&AssociateTag=AWS_ASSOCIATE_TAG&ItemId=B06VVPRHZ8&Operation=ItemLookup&ResponseGroup=SalesRank&Service=AWSECommerceService&Signature=m/IOJXZuLTYmTSurXN05S6pi93JZNqMJxN7tGxMOUXY=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-09-11T10:23:04Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AWS_ACCESS_KEY_ID&AssociateTag=AWS_ASSOCIATE_TAG&HMAC=%2BbfBYRpZ9yRsZ1rBHod1vw==&Item.1.ASIN=B06WP5P93V&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=8WL3MYbxVIVs9UhvflXxNgbX420rYmhlgTRkTFfxUm0=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-09-11T10:23:04Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" ?><CartCreateResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.2 (Language=Ruby; Fatos-MacBook.local)"/></HTTPHeaders><RequestId>3c73cac7-4b19-4ed5-b313-1823c74b47f7</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AWS_ACCESS_KEY_ID"/><Argument Name="AssociateTag"
        Value="AWS_ASSOCIATE_TAG"/><Argument Name="HMAC" Value="+bfBYRpZ9yRsZ1rBHod1vw=="/><Argument
        Name="Item.1.ASIN" Value="B06WP5P93V"/><Argument Name="Item.1.Quantity" Value="999"/><Argument
        Name="Operation" Value="CartCreate"/><Argument Name="Service" Value="AWSECommerceService"/><Argument
        Name="SignatureMethod" Value="HmacSHA256"/><Argument Name="SignatureVersion"
        Value="2"/><Argument Name="Timestamp" Value="2017-09-11T10:23:04Z"/><Argument
        Name="Version" Value="2013-08-01"/><Argument Name="Signature" Value="8WL3MYbxVIVs9UhvflXxNgbX420rYmhlgTRkTFfxUm0="/></Arguments><RequestProcessingTime>0.10610256</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartCreateRequest><Items><Item><ASIN>B06WP5P93V</ASIN><Quantity>999</Quantity></Item></Items></CartCreateRequest><Errors><Error><Code>AWS.ECommerceService.InvalidQuantity</Code><Message>You
        have exceeded the maximum quantity allowed for the following items: B06WP5P93V.</Message></Error></Errors></Request><CartId>132-0097688-1848359</CartId><HMAC>AJh/4NMNWeKrwRoIdGLQY6QdX/Q=</HMAC><URLEncodedHMAC>AJh%2F4NMNWeKrwRoIdGLQY6QdX%2FQ%3D</URLEncodedHMAC><PurchaseURL>https://www.amazon.com/gp/cart/aws-merge.html?cart-id=132-0097688-1848359&amp;associate-id=AWS_ASSOCIATE_TAG&amp;hmac=AJh%2F4NMNWeKrwRoIdGLQY6QdX%2FQ%3D&amp;SubscriptionId=AWS_ACCESS_KEY_ID&amp;MergeCart=False</PurchaseURL><SubTotal><Amount>401933</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$4,019.33</FormattedPrice></SubTotal><CartItems><SubTotal><Amount>401933</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$4,019.33</FormattedPrice></SubTotal><CartItem><CartItemId>CUFGNDEZ63RUE</CartItemId><ASIN>B06WP5P93V</ASIN><SellerNickname>Baseball
        Training Nets</SellerNickname><Quantity>67</Quantity><Title>PowerNet 27" SweetSpot
        Training Bat for Baseball Softball</Title><ProductGroup>Sports</ProductGroup><Price><Amount>5999</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$59.99</FormattedPrice></Price><ItemTotal><Amount>401933</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$4,019.33</FormattedPrice></ItemTotal></CartItem></CartItems></Cart></CartCreateResponse>'
  recorded_at: Mon, 11 Sep 2017 10:23:05 GMT
recorded_with: VCR 3.0.3
