---
http_interactions:
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AWS_ACCESS_KEY_ID&AssociateTag=AWS_ASSOCIATE_TAG&ItemId=B06WP5P93V&Operation=ItemLookup&ResponseGroup=ItemAttributes,Images,Reviews&Service=AWSECommerceService&Signature=GifvWitNGROYmjYsgzx0VM6%2B5UbaSBOAhhusUmAuYKQ=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-09-11T12:33:17Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" ?><ItemLookupResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.2 (Language=Ruby; Fatos-MacBook.local)"></Header></HTTPHeaders><RequestId>19a6f2b7-7bf3-40d8-918b-ff0fda4b9edb</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AWS_ACCESS_KEY_ID"></Argument><Argument Name="AssociateTag"
        Value="AWS_ASSOCIATE_TAG"></Argument><Argument Name="ItemId" Value="B06WP5P93V"></Argument><Argument
        Name="Operation" Value="ItemLookup"></Argument><Argument Name="ResponseGroup"
        Value="ItemAttributes,Images,Reviews"></Argument><Argument Name="Service"
        Value="AWSECommerceService"></Argument><Argument Name="SignatureMethod" Value="HmacSHA256"></Argument><Argument
        Name="SignatureVersion" Value="2"></Argument><Argument Name="Timestamp" Value="2017-09-11T12:33:17Z"></Argument><Argument
        Name="Version" Value="2013-08-01"></Argument><Argument Name="Signature" Value="GifvWitNGROYmjYsgzx0VM6+5UbaSBOAhhusUmAuYKQ="></Argument></Arguments><RequestProcessingTime>0.0211456680000000</RequestProcessingTime></OperationRequest><Items><Request><IsValid>True</IsValid><ItemLookupRequest><IdType>ASIN</IdType><ItemId>B06WP5P93V</ItemId><ResponseGroup>ItemAttributes</ResponseGroup><ResponseGroup>Images</ResponseGroup><ResponseGroup>Reviews</ResponseGroup><VariationPage>All</VariationPage></ItemLookupRequest></Request><Item><ASIN>B06WP5P93V</ASIN><ParentASIN>B06VVPRHZ8</ParentASIN><DetailPageURL>https://www.amazon.com/PowerNet-SweetSpot-Training-Baseball-Softball/dp/B06WP5P93V?psc=1&amp;SubscriptionId=AWS_ACCESS_KEY_ID&amp;tag=AWS_ASSOCIATE_TAG&amp;linkCode=xm2&amp;camp=2025&amp;creative=165953&amp;creativeASIN=B06WP5P93V</DetailPageURL><ItemLinks><ItemLink><Description>Technical
        Details</Description><URL>https://www.amazon.com/PowerNet-SweetSpot-Training-Baseball-Softball/dp/tech-data/B06WP5P93V?SubscriptionId=AWS_ACCESS_KEY_ID&amp;tag=AWS_ASSOCIATE_TAG&amp;linkCode=xm2&amp;camp=2025&amp;creative=386001&amp;creativeASIN=B06WP5P93V</URL></ItemLink><ItemLink><Description>Add
        To Baby Registry</Description><URL>https://www.amazon.com/gp/registry/baby/add-item.html?asin.0=B06WP5P93V&amp;SubscriptionId=AWS_ACCESS_KEY_ID&amp;tag=AWS_ASSOCIATE_TAG&amp;linkCode=xm2&amp;camp=2025&amp;creative=3860[...]
- request:
    method: get
    uri: https://www.amazon.com/reviews/iframe?akid=AWS_ACCESS_KEY_ID&alinkCode=xm2&asin=B06WP5P93V&atag=AWS_ASSOCIATE_TAG&exp=2017-09-12T12:33:17Z&sig=zY79xcqMVQqSy2Iw%252FA1DAZOLYWD1v5NcYAQbf0zfpuU%253D&v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=UTF-8
      X-Amz-Id-1:
      - AY414AEC2FMK4DB4GT8P
    body:
      encoding: ASCII-8BIT
      string: "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<html>\n<head>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<link
        href='https://images-na.ssl-images-amazon.com/images/G/01/nav2/gamma/websiteGlobalCSS/websiteGlobalCSS-websiteGlobal-10346._V1_.css'
        type='text/css' rel='stylesheet'>\n<style type=\"text/css\"><!--\n\n.sans,
        .small, .h1, .h3color, .big, .tiny, .tinyprice, .highlight, .eyebrow,\n    a:active,
        a:visited, a:link, div.unified_widget p.seeMore,\n    div.unified_widget .carat,
        div.left_nav .carat, div.left_nav, div.left_nav\n    h2, div.left_nav h3,
        div.left_nav a:link, div.left_nav a:visited,\n    .popover-tiny, .horizontal-search,
        .horizontal-websearch, .topnav,\n    .topnav-active a:link, .tabon a, .tabon
        a:visited, .tabof[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AWS_ACCESS_KEY_ID&AssociateTag=AWS_ASSOCIATE_TAG&ItemId=B06VVPRHZ8&Operation=ItemLookup&ResponseGroup=SalesRank&Service=AWSECommerceService&Signature=Axk/f9lit5hQusdSPafRqhzbYDvkAFu6vN8JjUqvqLw=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-09-11T12:33:18Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:[...]
- request:
    method: get
    uri: http://webservices.amazon.com/onca/xml?AWSAccessKeyId=AWS_ACCESS_KEY_ID&AssociateTag=AWS_ASSOCIATE_TAG&HMAC=%2BXfVuaHqzxpctvVjWiOQjA==&Item.1.ASIN=B06WP5P93V&Item.1.Quantity=999&Operation=CartCreate&Service=AWSECommerceService&Signature=%2BUJVTrjlrtSPyIYJjafP7VdRzEI849jWgq7LJBgsgVo=&SignatureMethod=HmacSHA256&SignatureVersion=2&Timestamp=2017-09-11T12:33:19Z&Version=2013-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" ?><CartCreateResponse xmlns="http://webservices.amazon.com/AWSECommerceService/2013-08-01"><OperationRequest><HTTPHeaders><Header
        Name="UserAgent" Value="Jeff/1.5.2 (Language=Ruby; Fatos-MacBook.local)"/></HTTPHeaders><RequestId>46564d73-da3e-4e52-b924-85a6b5c9cd82</RequestId><Arguments><Argument
        Name="AWSAccessKeyId" Value="AWS_ACCESS_KEY_ID"/><Argument Name="AssociateTag"
        Value="AWS_ASSOCIATE_TAG"/><Argument Name="HMAC" Value="+XfVuaHqzxpctvVjWiOQjA=="/><Argument
        Name="Item.1.ASIN" Value="B06WP5P93V"/><Argument Name="Item.1.Quantity" Value="999"/><Argument
        Name="Operation" Value="CartCreate"/><Argument Name="Service" Value="AWSECommerceService"/><Argument
        Name="SignatureMethod" Value="HmacSHA256"/><Argument Name="SignatureVersion"
        Value="2"/><Argument Name="Timestamp" Value="2017-09-11T12:33:19Z"/><Argument
        Name="Version" Value="2013-08-01"/><Argument Name="Signature" Value="+UJVTrjlrtSPyIYJjafP7VdRzEI849jWgq7LJBgsgVo="/></Arguments><RequestProcessingTime>0.08124287</RequestProcessingTime></OperationRequest><Cart><Request><IsValid>True</IsValid><CartCreateRequest><Items><Item><ASIN>B06WP5P93V</ASIN><Quantity>999</Quantity></Item></Items></CartCreateRequest><Errors><Error><Code>AWS.ECommerceService.InvalidQuantity</Code><Message>You
        have exceeded the maximum quantity allowed for the following items: B06WP5P93V.</Message></Error></Errors></Request><CartId>132-1420141-7122348</CartId><HMAC>E7iTqLHDASbvi/W/oRTxa6PR97Y=</HMAC><URLEncodedHMAC>E7iTqLHDASbvi%2FW%2FoRTxa6PR97Y%3D</URLEncodedHMAC><PurchaseURL>https://www.amazon.com/gp/cart/aws-merge.html?cart-id=132-1420141-7122348&amp;associate-id=AWS_ASSOCIATE_TAG&amp;hmac=E7iTqLHDASbvi%2FW%2FoRTxa6PR97Y%3D&amp;SubscriptionId=AWS_ACCESS_KEY_ID&amp;MergeCart=False</PurchaseURL><SubTotal><Amount>401933</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$4,019.33</FormattedPrice></SubTotal><CartItems><SubTotal><Amount>401933</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$4,019.33</FormattedPrice></SubTotal><CartItem><CartItemId>CUFGNDEZ63RUE</CartItemId><ASIN>B06WP5P93V</ASIN><SellerNickname>Baseball
        Training Nets</SellerNickname><Quantity>67</Quantity><Title>PowerNet 27" SweetSpot
        Training Bat for Baseball Softball</Title><ProductGroup>Sports</ProductGroup><Price><Amount>5999</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$59.99</FormattedPrice></Price><ItemTotal><Amount>401933</Amount><CurrencyCode>USD</CurrencyCode><FormattedPrice>$4,019.33</FormattedPrice></ItemTotal></CartItem></CartItems></Cart></CartCreateResponse>'
  recorded_at: Mon, 11 Sep 2017 12:33:19 GMT
recorded_with: VCR 3.0.3
